<main>
  <div class="container">
    <h1>Contact</h1>
    <p>Or more of my stuff...</p>
    <div class="row">
      <div class="col-md-3">
        <h1>
          <a href="https://uk.linkedin.com/in/pataruco" target="_blank">
            <i class="fa fa-4x fa-linkedin-square"></i>
          </a>
        </h1>
      </div>
      <div class="col-md-3">
        <h1>
          <a href="https://github.com/pataruco" target="_blank">
            <i class="fa fa-4x fa-github-square"></i>
          </a>
        </h1>
      </div>
      <div class="col-md-3">
        <h1>
          <a href="https://www.behance.net/pataruco" target="_blank">
            <i class="fa fa-4x fa-behance-square"></i>
          </a>
        </h1>
      </div>
      <div class="col-md-3">
        <h1>
          <a href="mailto:pataruco@gmail.com?subject= We like to talked to you about the lettuce joke!" target="_blank">
            <i class="fa fa-4x fa-envelope-square"></i>
          </a>
        </h1>
      </div>
    </div>
  </div>
</main>



  