<main>
  <div class="container-fluid landing" id="who-am-i">
    <h1>Pedro <br>Martin</h1>
    <h2>Web developer junior</h2>
    <p>London</p>
    <p id="arrow" class="caption">scroll down... <span class="glyphicon glyphicon-arrow-down"></span></p>
  </div>
  <div class="container-fluid landing" id="timer">
    <h1>I started coding</h1>
     <p id="timer-counter"><%= Time.local(2015,04,27,9,00,00).ago_in_words %> </p>
     <p id="arrow" class="caption">keep going...<span class="glyphicon glyphicon-arrow-down"></span></p>
  </div>

  <div id="lettuce" class="container-fluid landing">
    <h1>I am fresher than a cucumber</h1>
    <p class="caption">(I know, It was a really bad joke)</p>
    <p>But, I can do some things!</p>
    <p>Check this out!<span class="glyphicon glyphicon-arrow-down"></span></p>
    <p id="arrow" class="caption">(keep scrolling down)</p>
  </div>

  <div class="container-fluid landing" id="code-test">
    <div class="row">
      <div  id="fizzbuzz" class="col-md-6 col-sm-12">
        <h1>Fizz buzz</h1>
        <a class="caption" href="https://en.wikipedia.org/wiki/Fizz_buzz" target="_blank" >What the heck is Fizz buzz?</a>
        <div class="input-group">
          <input type="text" id="FizzBuzz-number" class="form-control" placeholder="Give me a number and I will tell you if it is a Fizz or Buzz" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="fizzButton">Go!</span>
        </div>
        <h2 id="fizzbuzz-result"></h2>
      </div>
      <div id="roman" class="col-md-6 col-sm-12">
        <h1>Roman numeral</h1>
        <a class="caption" href="https://en.wikipedia.org/wiki/Roman_numerals" target="_blank" >What the heck is Roman numeral?</a>
        <div class="input-group">
          <input type="text" id="roman-number" class="form-control" placeholder="Give me a number and I will convert to a Roman Numeral" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="romanButton">Go!</span>
        </div>
        <h2 id="roman-result"></h2>
      </div>
    </div>
  </div>


</main>
