<main>  
  <div class="container-fluid">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-md-6">
          <h3 class="project-index-title"><%= link_to(project.name, project_path(project)) %></h3>
          <a href="<%= project_path(project) %>"> 
            <img src="<%= project.img  %>" class="img-responsive thumbnail">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</main>





  