// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************************************************************************
Font
******************************************************************************/
@font-face {
    font-family: 'sketch_block';
    src: font-url('sketch_block.eot');
    src: font-url('sketch_block.eot?#iefix') format('embedded-opentype'),
         font-url('sketch_block.woff2') format('woff2'),
         font-url('sketch_block.woff') format('woff'),
         font-url('sketch_block.ttf') format('truetype'),
         font-url('sketch_block.svg#sketch_block') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-sketch: 'sketch_block';

/******************************************************************************
Background
******************************************************************************/
@mixin background {
  background-color: rgb(255, 254, 230);
  background-image:
  radial-gradient(grey, rgba(0,0,0,.2) 1px, transparent 3px),
  radial-gradient(grey, rgba(0,0,0,.15) 1px, transparent 3px),
  radial-gradient(grey, rgba(0,0,0,.1) 1px, transparent 3px),
  radial-gradient(rgba(0,0,0,.4), rgba(0,0,20,.1) 1px, transparent 2px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  border-bottom: dashed 1px rgba(0,0,0, .70);
}

/******************************************************************************
Colours
******************************************************************************/
$white: rgb(255, 255, 255);
$black: rgba(0,0,0, .85);
$black-light: rgba(0,0,0, .70);
$black-lighter: rgba(0,0,0, .65);
$black-dark: rgba(0,0,0,.95);

/******************************************************************************
Rotate function
******************************************************************************/

@mixin rotate($degrees) {
  transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
}


/******************************************************************************
All Website
******************************************************************************/
html, body, main {
  height: 100%;
}
 main {
  color: $black-light;
  font-family: $font-sketch;
  // @include background;
 }

.container-fluid {
  // @include background;

 }

 a {
  color: $black-light;
 }

 a:hover {
  color: $black-lighter;
 }

 a:focus {
  color: $black-lighter;

 }

/******************************************************************************
Navigation
******************************************************************************/

.navbar {
  min-height: 0px;
  margin-bottom: 0%;
  font-family: $font-sketch;
}

.nav {
  float: right;
  a {
    color: $black-light;
  }
}

.clock-anti {
  @include rotate(-5deg)
}

.clock {
  @include rotate(5deg)
}

.nav > li > a:hover, .nav > li > a:focus {
    color: $white;
    background-color: $black-light;
}

.nav-tabs {
    border-bottom: none;
}



/******************************************************************************
Landing page
******************************************************************************/
.landing {
  min-height: 100%;
  height: 100%;
  color: $black-light;
}

.carousel-control, .carousel-caption {
  color: $black-light;
}

.carousel-indicators{
  li {
    border: 1px solid $black-light;
  }
  .active {
    background-color: $black-light;
  }
}

#who-am-i {

  #arrow {
    font-size: 12px;
  }

  h1 {
    font-size: 18vh;
    @include rotate(-5deg);
    text-align: center;
    margin-top: 30px;
  }

  h2 {
    font-size: 12vh;
    @include rotate(-5deg);
    text-align: center;
  }

  p {
    font-size: 6vh;
    @include rotate(-5deg);
    text-align: center;
  }

}

#timer {
  h1 {
    font-size: 18vh;
  }
  p {
    font-size: 6vh;
  }

  #arrow {
    font-size: 6vh;
  }

}

#lettuce {
  .caption{
    font-size: 2vh;
  }
  h1 {
    font-size: 18vh;
    text-align: right;
  }
  p {
    font-size: 6vh;
    text-align: right;
  }
}

#code-test {
  h1 {
    font-size: 18vh;
  }
  h2{
    font-size: 12vh;
  }

  .caption{
    font-size: 2vh;
  }

  .form-control {
    border: 1px dashed $black-light;
  }

  .input-group-addon{
    color: $white;
    background-color: $black-light;
    border: 1px none $black-light;

  }

}
