// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************************************************************************
All Website
******************************************************************************/
html, body, main {
  height: 100%;
}

/******************************************************************************
Navigation
******************************************************************************/

.navbar {
  min-height: 0px;
  margin-bottom: 0%;
}

.nav-tabs {
  border-bottom: none;
}

/******************************************************************************
Landing page
******************************************************************************/
.landing {
  min-height: 100%;
  height: 100%;
}

.carousel-control, .carousel-caption {
  color: black;
}

.carousel-indicators{
  li {
    border: 1px solid black;
  }
  .active {
    background-color: black;
  }
}

#who-am-i {
  background-color: red;
}

#timer {
  background-color: blue;
}

#lettuce {
  background-color: purple;
}

#code-test {
  background-color: pink;
}

#projects{
  background-color: green;
}

