// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************************************************************************
Index
******************************************************************************/
.projects {
  margin-top: 4vh;
}

.project-index-title {
    font-size: 5vh;
    @include rotate(-2deg);
}
/******************************************************************************
Show
******************************************************************************/
.project-show {
  margin-top: 4vh;
  border-bottom: none;
}

.project-show-title {
  font-size: 9vh;
  @include rotate(-2deg);
}

.project-show-subtitle {
  font-size: 4.5vh;
}

.btn-info {
  color: $black-light;
  background-color: $white;
  border-color: $white;

}
.btn-info:hover,
.btn-info:focus,
.btn-info:active:hover {
  color: $white;
  background-color: $black-light;
  border-color: $black-light;
}
.project-show-p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
